/* Desktop styles */
@media (min-width: 768px) {

    body {
        font-family: tt-commons-pro, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #161717;
    }

    body, a, button, input {
        cursor: none; /* Hide the default cursor for the body and all interactive elements */
    }
    
/* SKIP LINK STYLE */

    .skip-link {
        position: absolute;
        top: -40px;
        left: 0;
        background: #161717;
        color: #e0e0e0;
        padding: 8px 16px;
        z-index: 10000;
        transition: top 0.3s;
      }
      
      .skip-link:focus {
        top: 0;
      }


    /* FOCUS STYELS */
    li:focus {
        outline: 2px dashed white; /* white outline */
        outline-offset: 2px;       /* Space between outline and element */
        z-index: 1000;
    }

    section p:focus {
        outline: 4px dashed white; /* white outline */
        border-radius: 10px;
        outline-offset: 20px;       /* Space between outline and element */
        z-index: 1000;

    }
    h1:focus, h2:focus, h3:focus {
        outline: 2px dashed white; /* white outline */
        outline-offset: -5px;       /* Space between outline and element */
        z-index: 1000;
    }

    h4:focus, h5:focus {
        outline: 2px dashed black; /* white outline */
        outline-offset: -5px;       /* Space between outline and element */
        z-index: 1000;
    }

    article p:focus {
        outline: 2px dashed black; /* white outline */
        outline-offset: -10px;       /* Space between outline and element */
        z-index: 1000;
    }

    figure:focus {
        outline: 2px dashed white; /* white outline */
        outline-offset: -10px;       /* Space between outline and element */
        z-index: 2000;
    }

    .custom-cursor {
        position: fixed;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        pointer-events: none; /* Prevent the cursor from interfering with other elements */
        z-index: 10000; /* Ensure the cursor is above all other elements */
        transform: translate(-50%, -50%);
        background-color: white;
        mix-blend-mode: difference; /* Ensure the cursor blends with the background */
    }
    
    .hovered {
        background-color: white;
        border: 2px solid white;
        mix-blend-mode: normal;
    }
    
    /* MAIN HEADER */
header {
    position: fixed;
    width: 19vw;
    color: white;
    text-align: left;
    background-color: white; /* Ensure this is not overridden */
    margin: 0;
    padding: 0;
    z-index: 1000;
}

header img {
    height: 3.5vw;
    width: auto;
    padding: 2vw;
    -moz-transition: all 0.3s; /* Mozilla specific transition */
    transition: all 0.3s;
}

/* Add Mozilla specific prefixes if necessary */
@media screen and (-moz-images-in-menus: 0) {
    header {
        text-decoration: none;/* Mozilla-specific styles if needed */
    }
}

    
    /* NAVIGATION MAIN */
    nav {
        position: fixed;
        padding-top: 7.9vw;
        width: 19vw;
        background-color: #161717;
        z-index: 900;
    }
    
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    nav ul li {
        position: relative;
    }
    
    nav ul li a {
        color: #f7f7f7;
        padding: 0.7vw 2.5vw 0.7vw 1.5vw;
        font-size: 2.1vw;
        font-weight: 200;
        display: block;
        text-decoration: none;
        border-left: 1vw solid white;
    }
    
    nav ul li a span {
        color: #8bd3f6;
        font-weight: 900;
    }



    nav ul li a:focus, 
nav ul li a:hover {
    background-color: #d0d0d0;
    color: #161717;
    outline: none; /* Optional: removes the default focus outline */
}

.dropdown-content a:hover {
    background-color: #161717;
    color: #f7f7f7;
}

/* Ensures dropdown stays visible when any child has focus */
.dropdown:focus-within .dropdown-content {
    display: block;
}

/* Style for focusing on links within the dropdown for better visibility */
.dropdown-content li a:focus {
    background-color: #e0e0e0; /* Light grey background for focused links */
    color: #161717;
    outline: none; /* Optional: Adjust according to your visual design needs */
}
    


    /* NAVIGATION SUBMENU */
    .dropdown-content {
        display: none;
        position: absolute;
        left: 16vw;
        top: 0;
        white-space: nowrap;
        background-color: #f7f7f7;
        border-left: none;
    }
    
    .dropdown-content li {
        display: inline-block;
        text-align: left;
    }
    
    .dropdown-content li a {
        font-size: 1vw;
        border-left: none;
        color: #161717;
        padding: 0.5vw 0.6vw 0.5vw 0.6vw;
        padding-left: 1.5vw;
        padding-right: 1.5vw;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
    
    /* SECTION */
    
    section {
        margin-left: 19vw;
        background-color: #f7f7f7;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 7vw 7vw 7vw 7vw;
    }
    
    section p {
        line-height: 7vw;
        font-size: 10vh;
        color: #161717;
        font-weight: 600;
    }
    
    .blue {
        background-color: #8bd3f6;
    }

    .green {
        background-color: #c7e87b;
    }

    .pink {
        background-color: #f084e6;
    }

    /* This area contains styling for the sections which have images in the bacgkround */ 


    .backgroundimg {
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('img/Yonghong02.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        /* Initial scale for the background image */
        transform: scale(1);
        transition: transform 0.2s ease-out; /* Smooth transition */
        z-index: 1;
    }
    
    .backgroundimg p {
        color: #f7f7f7;
    }
    
        
    .backgroundimg2 {
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('img/DTS_EDEN_Marlen_Stahlhuth_10124.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        /* Initial scale for the background image */
        transform: scale(1);
        transition: transform 0.2s ease-out; /* Smooth transition */
        z-index: 1;
    }
    
    .backgroundimg2 p {
        color: #f7f7f7;
    }

    .backgroundimg3 {
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('img/DTS__80s-shoot_by-Ivan-Resnik_00013.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        /* Initial scale for the background image */
        transform: scale(1);
        transition: transform 0.2s ease-out; /* Smooth transition */
        z-index: 1;
    }
    
    .backgroundimg3 p {
        color: #f7f7f7;
    }





    /* Article / lsiting  */

    article {
        margin-left: 19vw;
        background-color: #f7f7f7;
        display: flex;
        flex-direction: column;
    }

    h2 {
        background-color: #b2c5ff;
        color: #161717;
        font-size: 5vw;
        padding-left: 3vw;
        margin: 0;
        font-weight: 600;
    }

    h3 {
        background-color: #e0e0e0;
        color: #161717;
        font-size: 2vw;
        font-weight: 500;
        padding-left: 3vw;
        padding-top: 1vw;
        padding-bottom: 1vw;
        margin: 0;

    }

    figure {
        padding: 0;
        margin: 0;
        height: 30vw; /* Fixed height */
        width: 81vw; /* Adjust width as necessary */
        overflow: hidden; /* Ensures that any overflowing content is hidden */
        position: relative; /* Ensures proper positioning of the image */
    }
    
   figure img {
        height: 100%;
        width: 100%;
        object-fit: cover; /* Covers the area, will be clipped to fit */
        position: absolute;
    }
    h4 {
        padding: 1vw 3vw 0.5vw 4vw;
        font-size: 1.5vw;
        font-weight: 500;
        margin: 0;

    }


    h5 {
        padding: 0.5vw 3vw 1vw 4vw;
        font-size: 1.5vw;
        font-weight: 300;
        margin: 0;
        font-style: italic;

    }

    article p {
        padding: 1.5vw 20vw 1vw 4vw;
        font-size: 1.3vw;
        font-weight: 200;
        margin: 0;
    }
    
    /* Footer */
    footer {
        background-color: #f7f7f7;
        height: 3.5vw;
        width: 19vw;
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }
    
    .social-icons {
        display: flex;
        gap: 20px;
    }
    
    .social-icons a img {
        height: 1.2vw;
        width: auto;
        padding-left: 1vw;
        padding-right: 1vw;
        filter: invert(100%);
    }
    
    }
    


















/* Mobile styles */
@media (max-width: 767px) {

    body {
        font-family: tt-commons-pro, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #161717;
    }

    .skip-link {
        position: absolute;
        top: -40px;
        left: 0;
        background: #161717;
        color: #e0e0e0;
        padding: 8px 16px;
        z-index: 10000;
        transition: top 0.3s;
      }
      
      .skip-link:focus {
        top: -40px;
      }

    /* MAIN HEADER */
    header {
        width: 100%;
        background-color: #f7f7f7;
        border-bottom: 1px solid black;
    }

   
header img {
    height: 10vw;
    width: auto;
    padding: 5vw;
    -moz-transition: all 0.3s; /* Mozilla specific transition */
    transition: all 0.3s;
}
nav {
    width: 100%;
    background-color: #161717;
}

nav ul {
    width: 100%;
    text-align: left;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #161717;
}

nav ul li a {
    width: 100%;
    font-size: 8vw; /* Adjust font size for mobile */
    font-weight: 500;
    text-decoration: none;
    color: #f7f7f7;
}

li.dropdown {
    padding-left: 4vw;
}

li.dropdown.active {
    background-color: #161717;
    color:#161717;
}

/* Submenu items display underneath the parent item */
.dropdown-content {
    position: static; /* Change from absolute to static */
    overflow: hidden;
    max-height: 0; /* Initially hide the submenu */
    width: 100%;
    background-color: #f7f7f7; /* Different background color for submenu */
    transition: max-height 0.5s ease-out; /* Smooth transition for opening and closing */
}

.dropdown-content li {
    display: block; /* Display submenu items in a column */
    width: 100%;
    padding: 2vw 0;
}

.dropdown-content li a {
    font-size: 4vw; /* Adjust font size for submenu items */
    margin: 2vw;
    color: #161717;
}

/* Expand the submenu when the parent dropdown is active */
.dropdown.active .dropdown-content {
    max-height: 1000px; /* Adjust as needed to fit content */
}

    
    /* SECTION */
    section {
        background-color: #f7f7f7;
        display: flex;
        flex-direction: column; /* Ensures text and other elements are stacked vertically */
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    section p {
        line-height: 7vh;
        font-size: 7vh; /* Adjust this value to change the text size */
        color: #161717;
        font-weight: 600;
    }
    
    .blue {
        background-color: #8bd3f6;
    }
    


    .backgroundimg {
        /* LINEAR GRADIENT TO TINT THE IMAGE DARKER */ 
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('img/Yonghong02.jpg');
        background-size: cover;
    }
    
    .backgroundimg p {
        color: #f7f7f7;
    }



    .backgroundimg2 {
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('img/DTS_EDEN_Marlen_Stahlhuth_10124.jpg');
        background-size:cover;
    }

    .backgroundimg2 p {
        color: #f7f7f7;
    }

    .backgroundimg3 {
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('img/DTS__80s-shoot_by-Ivan-Resnik_00013.jpg');
        background-size:cover;

    }

    .backgroundimg3 p {
        color: #f7f7f7;
    }

    
    .blue {
        background-color: #8bd3f6;
    }

    .green {
        background-color: #c7e87b;
    }

    .pink {
        background-color: #f084e6;
        /* ADDING A MARGIN BECUASE OF FOOTER OVERLAP */
        margin-bottom: 10vw;
    }



    
    /* IMG STYLE */
    figure {
        margin: 0; /* Reset margin */
        padding: 10vw;
        margin-bottom: 5vw;
    }
    
    img {
        height: auto;
        width: 80vw;; /* Maintain aspect ratio */
    }
    
    figcaption {
        font-size: 2.5vw;
        font-weight: 300;
        margin-top: 1vw;
    }
    
    /* Footer */
    footer {
        background-color: #f7f7f7;
        height: 10vw;
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000; /* Ensure it stays on top of other elements */
    }
    
    .social-icons {
        display: flex;
        gap: 20px;
    }
    
    .social-icons a img {
        height: 3vw; /* Adjust size as needed */
        width: auto;
        padding-left: 1vw;
        padding-right: 1vw;
        filter: invert(100%); /* Change icon color to white */
    }
}